<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="io.purchasely.purchasely_flutter">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application>
        <activity android:name=".PLYProductActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".PLYSubscriptionsActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>
